<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Honor Code")}</%block>
        </h1>
        <p>
            <h1>C&oacute;digo de Honor</h1>
<p><strong>&nbsp;C&oacute;digo de honor de la plataforma de cursos virtuales de Tecnonautas</strong></p>
<p>&nbsp;Al inscribirte en un curso de la plataforma de Tecnonautas, te est&aacute;s uniendo a nuestro comunidad de aprendizaje. El objetivo de la plataforma es fomentar la equidad deacceso a educaci&oacute;n inclusiva con formaci&oacute;n en las disciplinas STEAM.</p>
<p>Para inscribirte a nuestros cursos, debes aceptar el c&oacute;digo de honor:</p>
<h2>Compromiso de C&oacute;digo de Honor de Tecnonautas Bolivia</h2>
<p>Al inscribirme en un curso de la plataforma virtual de Tecnonautas Bolivia me comprometo a:</p>
<ul>
<li>Realizar yo mismo todos los ex&aacute;menes sin ayuda de nadie y sin presentar el trabajo de nadie m&aacute;s.</li>
<li>Tener s&oacute;lo una cuenta de usuario y no dejar que nadie m&aacute;s use mi usuario y/o mi contrase&ntilde;a.</li>
<li>No participar en ninguna actividad que mejore de forma deshonesta mis resultados, o mejore o perjudique los resultados de los dem&aacute;s.</li>
<li>No publicar las respuestas a los problemas que se est&aacute;n utilizando para evaluar la progresi&oacute;n de los estudiantes en el curso.</li>
</ul>
<h2>Faltas al C&oacute;digo de Honor de Tecnonautas Bolivia</h2>
<p>Si se muestra que has cometido faltas al compromiso de C&oacute;digo Honor, se te podr&iacute;an aplicar una o m&aacute;s de las siguientes acciones:</p>
<ul>
<li>Ser evaluado con 0 puntos</li>
<li>No otorgarte certificado o revocarlo</li>
<li>Anularte la inscripci&oacute;n al curso</li>
<li>Negarte el uso de este sitio</li>
</ul>
<p>Las faltas al C&oacute;digo de Honor ser&aacute;n determinadas a discreci&oacute;n por los miembros de Tecnonautas Bolivia. Ser&aacute;s notificado/a en el caso se determine que has violado este C&oacute;digo de Honor y ser&aacute;s informado/a de la acci&oacute;n correspondiente que se efect&uacute;e como resultado a tu falta.</p>
<p>Adaptaci&oacute;n del C&oacute;digo de Honor de la plataforma edX&nbsp;<a href="https://www.edx.org/edx-terms-service">https://www.edx.org/edx-terms-service</a></p>
</p>
    </section>
</main>


