<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Honor Code")}</%block>
        </h1>
        <p>
           <h1>T&eacute;rminos y condiciones de uso</h1>
<p>Los usuarios que utilicen la plataforma&nbsp;<strong>Tecnonautas Bolivia&nbsp;</strong>se comprometen a:</p>
<ul>
<li>Acceder &uacute;nicamente a los cursos, recursos y actividades de las plataformas para los que se les otorga permiso.</li>
<li>Comunicar a los administradores del entorno cualquier incidente que durante la utilizaci&oacute;n de la plataforma virtual viole las condiciones de uso.</li>
<li>Proceder con amabilidad y respeto hacia todos los usuarios del entorno, en cualquier interacci&oacute;n entre ellos.</li>
<li>Responsabilizarse por aquel material que publique, seg&uacute;n la legislaci&oacute;n vigente.</li>
<li>Completar con datos reales su perfil de usuario.</li>
</ul>
<p>Todos los usuarios de la plataforma aceptan las condiciones y se comprometen a no hacer un mal uso de su infraestructura y servicios, a saber: &nbsp;</p>
<ul>
<li>Difundir cualquier material contrario a la ley vigente nacional e internacional en referencia a la propiedad intelectual.</li>
<li>Difundir materiales perjudiciales en la red como, por ejemplo, virus, spam, etc.</li>
<li>Realizar cualquier tipo de actividad direccionada a entorpecer o malograr el buen uso de&nbsp; la red, como por ejemplo denegaci&oacute;n de servicios, violaci&oacute;n de la privacidad, destrucci&oacute;n de archivos. &nbsp;</li>
<li>Difundir material contrario a las leyes vigentes, amenazante, ofensivo, &oacute; difamatorio.</li>
<li>Simular o falsificar identidad, utilizando la cuenta de otro usuario, simulando relaciones con otros usuarios y con la instituci&oacute;n.</li>
<li>Difundir informaci&oacute;n con objetivo no educativo.</li>
<li>Realizar denuncias infundadas.</li>
<li>Realizar cualquier otro uso incorrecto de la plataforma y su contenido.</li>
</ul>
<h2>Responsabilidad</h2>
<p>Cada usuario manifiesta, acepta y declara por el hecho de su participaci&oacute;n las condiciones previstas y asume total y exclusivamente la responsabilidad en los siguientes casos:</p>
<p>Cuando vulnere los t&eacute;rminos y condiciones de uso especificados en este documento.</p>
<p>Cuando, por un tercero, Tecnonautas sea objeto de cualquier tipo de reclamo, o requerimiento judicial o extrajudicial, en relaci&oacute;n al material publicado o enviado v&iacute;a entorno virtual. El usuario se obliga a mantener a Tecnonautas indemne por cualquier reclamo, obligaci&oacute;n, p&eacute;rdida, da&ntilde;o, perjuicio, gasto, violaci&oacute;n, usurpaci&oacute;n o infracci&oacute;n de derechos de propiedad intelectual o industrial o cualquier otro tipo de derecho protegido por las leyes bolivianas.</p>
<p>Tecnonautas no se hace responsable contractual ni extracontractualmente, de las consecuencias que el uso de las distintas plataformas pueda ocasionar al usuario como por ejemplo hackers, o software malintencionados que provoquen da&ntilde;os en equipos, ordenadores o propiedades, as&iacute; como tambi&eacute;n por interrupciones o fallos en el funcionamiento del entorno, de su contenido o servicios.</p>
<p>Tecnonautas no se hace responsable en ning&uacute;n caso de las opiniones expresadas por los usuarios a trav&eacute;s de las diversas herramientas del entorno, dado que las mismas no se comprometen, ni se encuentran de manera alguna vinculadas, con las opiniones ni con las pol&iacute;ticas de la Instituci&oacute;n.</p>
<p>&nbsp;</p>
        </p>
    </section>
</main>

